<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-dark" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-ios-arrow-back" data-comp-id="button.1"
                ng-click="app.go('app.viewissues')"></button>
        </ion-nav-buttons>
        <ion-nav-title class="" data-comp-id="nav-title.1">Report Issue</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <div data-comp-id="div.1">
            <select-list data-comp-id="selectList.1" label-class=" required"
                ng-model="data.category">Category</select-list>
            <div class="row" data-comp-id="row.1">
                <div class="col" data-comp-id="column.1">
                    <div data-comp-id="text.1">Severity</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.2">
                <div class="col" data-comp-id="column.2">
                    <ion-radio class="radio-button" data-comp-id="radio.1"
                        ng-model="data.severity.selected" ng-repeat="item in data.severity.options"
                        ng-value="item">{{item.label}}</ion-radio>
                </div>
                <div class="col" data-comp-id="column.3"></div>
                <div class="col" data-comp-id="column.4"></div>
            </div>
            <div class="row" data-comp-id="row.3">
                <div class="col" data-comp-id="column.5">
                    <label class="item item-input item-stacked-label" data-comp-id="textAreaInput.1">
                        <span class="input-label">Description</span>
                        <textarea ng-model="data.description" rows="4"></textarea>
                    </label>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="footer-button-bar" data-comp-id="footer-bar-buttons.1"
        dynamic-floating-footer="">
        <div class="row" data-comp-id="row.4" style="padding: 0px;">
            <div class="col" data-comp-id="column.6" style="padding: 0px;"></div>
            <div class="col text-center" data-comp-id="column.7" style="padding: 0px;">
                <div class="footer-button" data-comp-id="footerButton.2">
                    <button class="button icon button-round button-shadowed ion-plus-round"
                        ng-click="app.action('reportissue', 'createissue', this)"></button>
                    <div class="label"></div>
                </div>
            </div>
            <div class="col text-right" data-comp-id="column.8" style="padding: 0px;"></div>
        </div>
    </div>
    <ion-footer-bar data-comp-id="footer-bar.1" dynamic-fixed-footer=""></ion-footer-bar>
</ion-view>